@import "./Animation.scss";

$kasaOrange :#FF6060;
$kasaBorwn : #F6F6F6;


@font-face {
    font-family: Montserrat;
    src: url("../font/Montserrat-VariableFont_wght.ttf");
}

*{
    font-family: Montserrat;
    color:$kasaOrange;
}

main{
    margin-bottom: 20px;
}

.headerClass {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3% 0 4%;

    >a>img {
        margin-right: auto;
        margin-left: 3%;
    }
    >nav{
        margin-left: auto;
        width: 30%;
        display: flex;
        gap: 5%;
        margin-right: 3%;
        justify-content: flex-end;
        >a{
            font-size: 24px;
            font-weight: 600;
        }

    }
}

body{
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  

}

.footerClass{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    margin-top: auto;

    
    
    >img {
        filter:  brightness(0) invert(1);
        margin: auto auto 30px auto;
    }
    >h2{
        color: white;
    }
}

.app{
    margin-left: 5%;
    margin-right: 5%;
}

.TopBanner{
    background-image: url(../img/bannerbackground.png);
    background-repeat: round;
    height: 230px;
    border-radius: 30px;
    display: flex;
    justify-content: center;

    >h2{
        margin: auto;
        color: white;
        font-size: 50px;
       
    }
}
.ThumbList{
    background-color: $kasaBorwn;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-bottom: 20px;
}
.Thumb{
    background: linear-gradient(180deg,rgb(255, 97, 97) 0%, rgb(133, 52, 52) 100%);
    width: 30%;
    margin-top: 20px;
    height: 340px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    > .ThumbImage{

        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

}
.ThumbTitleBloc{
    /*height: 30%;*/
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    background: linear-gradient(180deg,rgba(221, 221, 221, 0) 0%, rgba(0, 0, 0, 0.925) 100%) ;
    >h4{
        margin-top: 30px;
        color: white;
        margin-left: 2%;
    }

}

.InfoList{
    
    position: relative;

    

    .InfoListContent{
        padding: 2%;
        justify-content: left;
        transform-origin: top;
      background-color: #F7F7F7;
        animation: 200ms infolistOpen;
        border-radius: 10px;
        position: relative;
        z-index: 5;
        top: -5px;
    }
}
.InfoListButton{
   
        background-color: $kasaOrange; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align:start;
        text-decoration: none;
       
        font-size: 16px;
        width: 100%;
        display: flex;
        border-radius: 10px;
        position: relative;
        z-index: 10;
       
      
}
.infolistAbout{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 5%;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.listblock{
    display: flex;
    gap: 20px;
    .listelement50{
        width: 50%;
    }
}

.url404{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .big404{
        font-size: 288px;
        font-weight: 700;
        
    }
    .oupstext{
        font-size: 36px;
        font-weight: 500;
    }
    > a {
        margin: 100px;
        font-size: 15px;
        font-weight: 500;
    }
}
.aboutImage{
    height: 230px;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    >img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}


.Logement_bloc_title{
    display: flex;
    margin-bottom: 10px;
    .LogementTitle{
        max-width: 40%;
    }
}

.tagbloc{
    
    display: flex;
    gap: 10px;
    .LogementTags{
        font-size: 14px;
        min-width: 120px;
        text-align: center;
        background-color: $kasaOrange;
        color: white;
        border-radius: 10px;
        padding: 6px 12px 6px 12px;
    }
}


.UserandNote{
    margin-left: auto;
    max-width: 40%;
    
    >div{
        display: flex;
        align-items: center;
        gap: 10px;

    }
    .userImage{
        width: 64px;
        height: 64px;
        
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.orangeStar{
    color: $kasaOrange;
}
.Star{
    color : $kasaBorwn ;
    >path{
        color : #E3E3E3 ;
    }
}

.AngleUp{
    margin-left: auto;
    color: white;
    >path{
        color: white;
    }
}


.Carrousel{
    width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    .arrows{
        position: absolute;
        font-size: 100px;
        top: 170px;
        text-align: center;
        background-color: transparent;
        border: transparent;
        path{
            color: white;
        }
       
    }
    .Left{
        left: 2%;
        
        
    }
    .Right{
        right: 2%;

    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}